<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!--C3P0配置 -->
		<property name="hibernate.connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
		</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="automaticTestTable">Test</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="c3p0.testConnectionOnCheckout">true</property>
		<property name="c3p0.testConnectionOnCheckin">true</property>
		<property name="c3p0.idleConnectionTestPeriod">18000</property>
		<property name="c3p0.maxIdleTime">25000</property>
		<property name="c3p0.idle_test_period">120</property>

		<property name="connection.url">
			jdbc:mysql://192.168.0.18:3306/selfpkg
		</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">1234</property>


		<!--优化的键生成器默认在 Hibernate 4中开启。如要禁用，可将 hibernate.id.new_generator_mappings 
			设置为 false。 -->
		<property name="hibernate.id.new_generator_mappings">
			false
		</property>
		<property name="myeclipse.connection.profile">MySQL5</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- hibernate4.0以上版本的写法 -->
		<property name="hibernate.dialect">
			<!-- org.hibernate.dialect.MySQL5Dialect -->
			org.hibernate.dialect.MySQL5InnoDBDialect
		</property>
		<!--hibernate4以上必须配置为开启事务 否则 getCurrentSession()获取不到 -->
		<property name="hibernate.current_session_context_class">
			org.springframework.orm.hibernate5.SpringSessionContext
		</property>

		<property name="jdbc.use_scrollable_resultset">false</property><!-- Exception只进结果集不支持请求的操作 -->
		<property name="hibernate.temp.use_jdbc_metadata_defaults">
			false
		</property>

		<!-- 以下实体使用XML配置文件方式，方便与独立清晰管理 -->
		<mapping resource="com/ls/domain/User.hbm.xml" />
		<mapping resource="com/ls/domain/Device.hbm.xml" />
		
		<mapping resource="com/ls/domain/Province.hbm.xml" />
		<mapping resource="com/ls/domain/City.hbm.xml" />
		<mapping resource="com/ls/domain/District.hbm.xml" />
		<mapping resource="com/ls/domain/Package.hbm.xml" />
		<mapping resource="com/ls/domain/MemberInfo.hbm.xml" />
		<mapping resource="com/ls/domain/SendPerInfo.hbm.xml" />
		<mapping resource="com/ls/domain/RecvPerInfo.hbm.xml" />
		<mapping resource="com/ls/domain/CompanyInfo.hbm.xml" />
		<mapping resource="com/ls/domain/CourierInfo.hbm.xml" />
		<mapping resource="com/ls/domain/OrderInfo.hbm.xml" />
		<mapping resource="com/ls/domain/SysFileInfo.hbm.xml" />
		<mapping resource="com/ls/domain/TerTask.hbm.xml" />
		<mapping resource="com/ls/domain/PkgCheckInfo.hbm.xml" />
        
	</session-factory>

</hibernate-configuration>

